body {
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shadow-text {
  font-size: 60px;
  color: black;
  text-shadow:
    2px 2px 4px orange,
    4px 4px 8px gray,
    6px 6px 12px silver;
}
